

.cart-button {
    width: 100px;
    font-size: 20px;
    float: right;
    margin-right: 50px;
    
    
}

.cart-button:hover {
    color: red;
}

.sale-button {
    width: 100px;
    
}

.sale-button:hover {
    color: red;
}

body {
    margin: 10px auto;
    width: 800px;
    
}

header {
    margin: 10px auto;
    height: 50px;
    background-color: lightgoldenrodyellow;
}

main {
    margin: 10px auto;
    height: 250px;
    background-color: white;
}

.goods-item {
    width: 120px;
    float: left;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;;
    
}

.goods-item p {
    font-size: 12px;

}

img {
    max-width: 100px;
    height: 150px;
    display: block;
    background-color: grey;
    margin: 5px auto;
}

#menu {
    text-align: center;
    font-size: 40px;
    margin: 10px auto;
    height: 60px;
    background-color: lightgoldenrodyellow;  
}

.goodsAddButton {
    float: left;
    margin-left: 10px;
    border: solid 1px black;
    width: auto;
}

.goodsAddButton:hover {
    color: red;
}